spring:
  datasource:
    url: jdbc:h2:mem:lms_test;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  sql:
    init:
      mode: never

# Отключаем CSV-инициализацию в тестах
app:
  data:
    initializer:
      enabled: false
